body {
    background-attachment: fixed;
    background-image: url('../_old/images/prototypes_v3/12722623_1134473356563888_136086200_o.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    /*background-color: black;*/
    display: block;
}

.is-hidden {
    display: none;
}

#tmo-header {
    /*border: 1px solid red;*/
    display: block;
    height: 83px;
    /* 83 */
    margin: 0 auto;
    margin-top: 40px;
    /*position: relative;*/
    /*top: 40px;*/
    width: 931px;
    /*
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(1%, rgba(255, 255, 255, 1)), color-stop(44%, rgba(255, 255, 255, 0.57)), color-stop(47%, rgba(246, 246, 246, 0.54)), color-stop(100%, rgba(237, 237, 237, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
    */
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 0.53)), color-stop(100%, rgba(237, 237, 237, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
}

#tmo-logo-a-link {
    /*display: block;*/
    /*float: left;*/
    left: -28px;
    top: -30px;
    /* -28px ? */
    position: relative;
    width: 428px;
}

#tmo-img {
    /*display: block;*/
}

#black-to-transparent-header-bar {
    /*border: 1px solid red;*/
    clear: both;
    /*display: block;*/
    height: 7px;
    /* 6px? */
    position: relative;
    top: -27px;
    /*
    background: rgba(67, 68, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 68, 73, 1)), color-stop(96%, rgba(67, 68, 73, 0.04)), color-stop(100%, rgba(237, 237, 237, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: linear-gradient(to right, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434449', endColorstr='#ededed', GradientType=1);
    */
    /*
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(73%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(246, 246, 246, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#f6f6f6', GradientType=1);
    */
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);
}

#header-black-strip {
    height: 7px;
    margin: 0 auto;
    width: 931px;
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);
}

#nav-blue-strip {
    /*display: block;*/
    height: 7px;
    margin: 0 auto;
    margin-top: 7px;
    width: 931px;
    background: rgba(34, 180, 229, 1);
    background: -moz-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34, 180, 229, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#22b4e5', endColorstr='#ffffff', GradientType=1);
}

#tmo-nav-bar {
    color: white;
    /*display: block;*/
    /*font-family: Arial;*/
    font-family: 'Browallia new';
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    margin: 0 auto;
    /*margin-top: 14px;*/
    text-align: center;
    width: 931px;
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);
}

#nav-bar-menu-list {
    /*display:block;*/
    /*height: 74px;*/
    /*text-align: center;*/
    /*background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);*/
}

#tmo-ts-ip-clipboard {
    background-attachment: local;
    /* moze spowodowac blad */
    background-image: url(../_old/images/prototypes_v3/elementy/imageedit_43_9894477728.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    float: right;
    height: 25px;
    margin-top: 17px;
    margin-right: 17px;
    width: 25px;
}

#tmo-nav-bar ul {
    line-height: 60px;
}

#tmo-nav-bar ul li {
    display: inline;
    padding-right: 40px;
}

#tmo-nav-bar li:last-child {
    padding-right: 0px;
}

#tmo-nav-bar ul li a:link,
#tmo-nav-bar ul li a:visited,
#tmo-nav-bar ul li a:focus {
    color: white;
    text-decoration: none;
}

#tmo-nav-bar ul li a:hover {
    color: white;
    text-decoration: none;
}

#tmo-nav-bar ul li a:active {
    color: white;
    text-decoration: none;
}

#last-results-container {
    background-color: white;
    height: 110px;
    margin: 0 auto;
    width: 931px;
}

#black-to-white-strip {
    height: 7px;
    margin: 0 auto;
    width: 931px;
    /*
    background: rgba(67, 68, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 68, 73, 1)), color-stop(30%, rgba(67, 68, 73, 1)), color-stop(92%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to right, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434449', endColorstr='#ededed', GradientType=1);
    */
    background: rgba(67, 68, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 68, 73, 1)), color-stop(30%, rgba(67, 68, 73, 1)), color-stop(85%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434449', endColorstr='#ffffff', GradientType=1);
}

#blue-orange-pink-strip {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 50px;
    margin: 0 auto;
    width: 931px;
    /*
    background: rgba(51, 176, 221, 0.5);
    background: -moz-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51, 176, 221, 0.5)), color-stop(50%, rgba(238, 118, 53, 0.5)), color-stop(100%, rgba(202, 45, 118, 0.5)));
    background: -webkit-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: -ms-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: linear-gradient(to right, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33b0dd', endColorstr='#ca2d76', GradientType=1);
    */
    background: rgba(51, 176, 221, 0.7);
    background: -moz-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51, 176, 221, 0.7)), color-stop(50%, rgba(238, 118, 53, 0.7)), color-stop(100%, rgba(202, 45, 118, 0.7)));
    background: -webkit-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: linear-gradient(to right, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33b0dd', endColorstr='#ca2d76', GradientType=1);
}

#main-content {
    /*border-top-left-radius: 15px;*/
    /*border-top-right-radius: 15px;*/
    margin: 22px auto 0 auto;
    width: 931px;
}

#main-content:before,
#main-content:after {
    content: '';
    display: block;
}

#main-content:after {
    clear: both;
}

#news {
    float: left;
    width: 691px;
}

#news-bar {
    border-top-left-radius: 15px;
    /*border-top-right-radius: 15px;*/
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#ffffff', GradientType=1);
}

#news-bar p {
    color: white;
    font-family: 'Browallia new';
    font-size: 30px;
    font-weight: bold;
}

.simple-news {
    /*border: 1px solid red;*/
    /*height: 130px;*/
}

.simple-news-headline {
    /*border: 1px solid blue;*/
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
    left: -28px;
    line-height: 40px;
    position: relative;
    text-align: left;
    width: 719px;
}

#tmo-blue-gradient-background {
    background: rgba(51, 176, 221, 1);
    background: -moz-linear-gradient(left, rgba(51, 176, 221, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51, 176, 221, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(51, 176, 221, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(51, 176, 221, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(51, 176, 221, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(51, 176, 221, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33b0dd', endColorstr='#ffffff', GradientType=1);
}

#tmo-orange-gradient-background {
    background: rgba(238, 118, 53, 1);
    background: -moz-linear-gradient(left, rgba(238, 118, 53, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238, 118, 53, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(238, 118, 53, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(238, 118, 53, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(238, 118, 53, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(238, 118, 53, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ee7635', endColorstr='#ffffff', GradientType=1);
}

#tmo-pink-gradient-background {
    background: rgba(202, 45, 118, 1);
    background: -moz-linear-gradient(left, rgba(202, 45, 118, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(202, 45, 118, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(202, 45, 118, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(202, 45, 118, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(202, 45, 118, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(202, 45, 118, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ca2d76', endColorstr='#ffffff', GradientType=1);
}

.simple-news-headline p.headline {
    color: white;
    font-family: 'Browallia new';
    font-size: 38px;
    float: left;
    padding-left: 10px;
}

.simple-news-headline p.date {
    color: white;
    /* white */
    font-family: 'Browallia new';
    font-size: 24px;
    font-style: italic;
    float: right;
    text-align: right;
    padding-right: 10px;
}

.simple-news-content {
    /*border: 1px solid red;*/
    /*height: 90px;*/
    position: relative;
}

.simple-news-content p.show-more {
    cursor: pointer;
    color: white;
    font-family: 'Browallia new';
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 60px;
    right: 10px;
}

.simple-news-content img {
    display: block;
}

.simple-news-content .news-text {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    font-family: 'Browallia new';
}

#tmo-blue-box-shadow {
    -webkit-box-shadow: 0px 6px 20px 1px rgba(51, 176, 221, 1);
    -moz-box-shadow: 0px 6px 20px 1px rgba(51, 176, 221, 1);
    box-shadow: 0px 6px 20px 1px rgba(51, 176, 221, 1);
}

#tmo-orange-box-shadow {
    -webkit-box-shadow: 0px 6px 20px 1px rgba(238, 118, 53, 1);
    -moz-box-shadow: 0px 6px 20px 1px rgba(238, 118, 53, 1);
    box-shadow: 0px 6px 20px 1px rgba(238, 118, 53, 1);
}

#tmo-pink-box-shadow {
    -webkit-box-shadow: 0px 6px 20px 1px rgba(202, 44, 118, 1);
    -moz-box-shadow: 0px 6px 20px 1px rgba(202, 44, 118, 1);
    box-shadow: 0px 6px 20px 1px rgba(202, 44, 118, 1);
}

.simple-news-content .news-text p {
    padding: 5px;
}


/* contact styles */

#right-container {
    border-top-left-radius: 15px;
    float: right;
    height: 433px;
    width: 218px;
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#ffffff', GradientType=1);
}

#right-container-headline {
    /*border-top-left-radius: 15px;*/
    /*border-top-right-radius: 15px;*/
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#right-container-headline p {
    color: white;
    font-family: 'Browallia new';
    font-size: 20px;
    font-weight: bold;
}

#right-content {
    position: relative;
    /*background-image: url('../_old/images/prototypes_v3/elementy/12077435_1133425613335329_779981664_n.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    height: 383px;
    margin: 0 auto;
    width: 198px;
}

#right-content:before {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../_old/images/prototypes_v3/elementy/imageedit_44_3098773349.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
}

#test-inside {
    padding-top: 60px;
    text-align: center;
}

#test-inside .contact-social-icon {
    display: inline-block;
    margin-right: 15px;
}

#test-inside .contact-social-icon:last-child {
    margin-right: 0px;
}

#test-inside .contact-social-icon img {
    display: block;
    height: 35px;
    width: 35px;
}

#clock {
    line-height: 45px;
    text-align: center;
}

#clock p {
    color: white;
    font-family: 'Browallia new';
    font-size: 45px;
    margin-top: 30px;
}

#test-inside-2 {
    margin-top: 30px;
    text-align: center;
}

#test-inside-2 .gmail-icon {
    display: inline-block;
}

#test-inside-2 .gmail-icon img {
    display: block;
    height: 36px;
    width: 45px;
}

#test-inside-3 {
    position: absolute;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 20px;
}

#test-inside-3 .slide-icon {
    background-color: gainsboro;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 10px;
}
#test-inside-3 .slide-icon:last-child {
    margin-right: 0px;
}

#test-inside-3 .slide-icon.active {
    background-color: skyblue;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 10px 3px rgba(255,255,255,1);
box-shadow: 0px 0px 10px 3px rgba(255,255,255,1);
}


/* -------------- */

#footer {
    margin: 30px auto 20px auto;
    text-align: center;
    width: 931px;
}

#footer p {
    /*background-color: skyblue;*/
    border-radius: 5px;
    display: inline;
    font-family: 'Browallia new';
    font-weight: bold;
    padding: 3px 5px 3px 5px;
}

#footer-blue-background {
    background-color: rgba(51, 176, 221, 0.9);
}

#footer-orange-background {
    background-color: rgba(231, 122, 53, 0.9);
}

#footer-pink-background {
    background-color: rgba(202, 44, 118, 0.9);
}