body {
    background-attachment: fixed;
    background-image: url('../_old/images/prototypes_v2/12822773_1127306163947274_171752599_o.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    display: block;
}

.error-message {
    background-color: white;
    border: 5px solid rgba(214, 182, 121, 0.9);
    border-radius: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: fixed;
    text-align: center;
    width: 504px;
    z-index: -1;
}

.error-message img {
    display: block;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.error-message p {
    font-family: 'Browallia new';
    font-size: 28px;
    padding: 10px;
}

#pegasus {
    cursor: pointer;
    display: block;
    float: right;
    height: auto;
    margin-right: 15%;
    margin-top: 10%;
    width: 150px;
}

.content {
    background-image: url('../_old/images/prototypes_v2/imageedit_14_3299759384.png');
    display: none;
    height: 408px;
    left: 50%;
    margin: -204px 0 0 -347px;
    position: absolute;
    top: 50%;
    width: 694px;
    /*margin: 0 auto 0 auto;*/
    /*min-height: 514px;*/
    /*min-width: 837px;*/
}

.content .connect {
    float: left;
    height: 296px;
    width: 55px;
    padding-top: 113px;
    /*overflow: hidden;*/
}

.content .connect p.login {
    color: #AB825A;
    cursor: pointer;
    font-size: 40px;
    height: auto;
    line-height: 65%;
    margin: auto;
    /*padding-bottom: 10px;*/
    padding-left: 10px;
    /*padding-top: 113px;*/
    width: 25px;
    word-break: break-all;
}

.content .connect p.login:hover {
    -webkit-text-shadow: 0 0 5 skyblue;
    -moz-text-shadow: 0 0 5px skyblue;
    text-shadow: 0 0 5px skyblue;
}


/*
.content .connect p a {
    color: #AB825A;
    text-decoration: none;
}

.content .connect p a:hover {
    color: #AB825A;
}

.content .connect p a:visited {
    color: #AB825A;
}

.content .connect p a:active {
    color: #AB825A;
}
*/

.content .rt-since {
    float: right;
    height: 373px;
    padding-top: 35px;
    width: 55px;
    /*overflow: hidden;*/
}

.content .rt-since p.register {
    color: #AB825A;
    cursor: pointer;
    font-size: 40px;
    height: auto;
    line-height: 60%;
    margin: auto;
    /*padding-bottom: 10px;*/
    padding-right: 20px;
    /*padding-top: 35px;*/
    white-space: pre-wrap;
    width: 10px;
    word-break: break-all;
}

.content .rt-since p.register:hover {
    -webkit-text-shadow: 0 0 5px skyblue;
    -moz-text-shadow: 0 0 5px skyblue;
    text-shadow: 0 0 5px skyblue;
}


/*
.content .rt-since p a {
    color: #AB825A;
    text-decoration: none;
}

.content .rt-since p a:visited {
    color: #AB825A;
}

.content .rt-since p a:hover {
    color: #AB825A;
}

.content .rt-since p a:active {
    color: #AB825A;
}
*/

.content .login-box {
    display: block;
    float: right;
    padding-top: 65px;
    width: 584px;
}


/*
.login-box img {
    display: block;
}*/

.login-box img.clanFullName {
    display: block;
    margin: 0 auto 10px auto;
}

.login-box .item {
    /*height: 57px;*/
    /*padding-left: 40px;*/
    padding-top: 20px;
    width: 584px;
}

.login-box .item.tag {
    height: 56px;
}

.login-box .item.pw {
    height: 51px;
}

.login-box .item img {
    /*display: inline-block;*/
    float: right;
    margin-right: 30px;
}

.login-box .item img.pw {
    margin-top: 3px;
    margin-right: 45px;
}

.login-box .item input.input-style-text {
    border: none;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 30px;
    float: right;
    height: 45px;
    margin-right: 90px;
    padding-left: 20px;
    width: 286px;
    vertical-align: top;
    background: -webkit-linear-gradient(0deg, rgba(171, 130, 90, 1) 0, rgba(171, 130, 90, 0.75) 25%, rgba(171, 130, 90, 0.65) 43%, rgba(171, 130, 90, 0.6) 60%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(90deg, rgba(171, 130, 90, 1) 0, rgba(171, 130, 90, 0.75) 25%, rgba(171, 130, 90, 0.65) 43%, rgba(171, 130, 90, 0.6) 60%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(90deg, rgba(171, 130, 90, 1) 0, rgba(171, 130, 90, 0.75) 25%, rgba(171, 130, 90, 0.65) 43%, rgba(171, 130, 90, 0.6) 60%, rgba(255, 255, 255, 0) 100%);
}

.login-box .item input[type="text"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    /*color: white;*/
}

.login-box .item input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    /*color: white;*/
}

.login-box .item input[type="text"]:-ms-input-placeholder {
    /* IE 10+ */
    /*color: white;*/
}

.login-box .item input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    /*color: white;*/
}

.login-box .item input[type="text"].tag {
    margin-top: 3px;
}

.login-box .item input[type="text"].tag:focus {
    -webkit-box-shadow: 0 0 5px 0 skyblue;
    -moz-box-shadow: 0 0 5px 0 skyblue;
    box-shadow: 0 0 5px 0 skyblue;
}

.login-box .item input[type="password"].pw:focus {
    -webkit-box-shadow: 0 0 5px 0 hotpink;
    -moz-box-shadow: 0 0 5px 0 hotpink;
    box-shadow: 0 0 5px 0 hotpink;
}

.content .register-box {
    display: none;
    float: right;
    padding-top: 61px;
    width: 584px;
}

.register-box .item {
    height: 32px;
    /*padding-left: 40px;*/
    padding-top: 12px;
    /* 20 */
    width: 584px;
}

.register-box .item.tag {
    /*height: 56px;*/
    /* 56 */
}

.register-box .item.pw {
    /*height: 51px;*/
    padding-top: 24px;
}

.register-box .item.re-pw {
    /*height: 51px;*/
    padding-top: 24px;
}

.register-box .item.mail {
    /*height: 51px;*/
    padding-top: 24px;
}

.register-box .item img {
    display: inline-block;
    float: right;
    height: 36px;
    margin-right: 36px;
}

.register-box .item img.tag {
    margin-top: 3px;
    margin-right: 45px;
}

.register-box .item img.pw {
    margin-top: 3px;
    margin-right: 45px;
}

.register-box .item img.re-pw {
    margin-top: 3px;
    margin-right: 45px;
}

.register-box .item img.mail {
    margin-top: 1px;
    margin-right: 47px;
}

.register-box .item input.input-style-text {
    border: none;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 25px;
    /* 30 */
    float: right;
    height: 36px;
    /* 45 */
    margin-right: 110px;
    /* 90 */
    padding-left: 15px;
    /* 20 */
    width: 226px;
    /* 286 */
    vertical-align: top;
    background: -webkit-linear-gradient(0deg, rgba(171, 130, 90, 1) 0, rgba(171, 130, 90, 0.75) 25%, rgba(171, 130, 90, 0.65) 43%, rgba(171, 130, 90, 0.6) 60%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(90deg, rgba(171, 130, 90, 1) 0, rgba(171, 130, 90, 0.75) 25%, rgba(171, 130, 90, 0.65) 43%, rgba(171, 130, 90, 0.6) 60%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(90deg, rgba(171, 130, 90, 1) 0, rgba(171, 130, 90, 0.75) 25%, rgba(171, 130, 90, 0.65) 43%, rgba(171, 130, 90, 0.6) 60%, rgba(255, 255, 255, 0) 100%);
}

.register-box .item input[type="text"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    /*color: white;*/
}

.register-box .item input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    /*color: white;*/
}

.register-box .item input[type="text"]:-ms-input-placeholder {
    /* IE 10+ */
    /*color: white;*/
}

.register-box .item input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    /*color: white;*/
}

.register-box .item input[type="text"].tag {
    margin-top: 3px;
}

.register-box .item input[type="text"].tag:focus {
    -webkit-box-shadow: 0px 0px 5px 0px skyblue;
    -moz-box-shadow: 0px 0px 5px 0px skyblue;
    box-shadow: 0px 0px 5px 0px skyblue;
}

.register-box .item input[type="password"].pw:focus {
    -webkit-box-shadow: 0px 0px 5px 0px lightgoldenrodyellow;
    -moz-box-shadow: 0px 0px 5px 0px lightgoldenrodyellow;
    box-shadow: 0px 0px 5px 0px lightgoldenrodyellow;
}

.register-box .item input[type="text"].mail:focus {
    -webkit-box-shadow: 0px 0px 5px 0px hotpink;
    -moz-box-shadow: 0px 0px 5px 0px hotpink;
    box-shadow: 0px 0px 5px 0px hotpink;
}

.content .btn-submit {
    display: block;
    float: right;
    width: 584px;
}

.btn-submit a {
    float: right;
    margin-right: 40px;
    margin-top: 25px;
}

.btn-submit a img {
    display: block;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.btn-submit a img:hover {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}


/*
.btn-submit .tmo-submit {
    display: block;
    float: right;
    margin-right: 40px;
    margin-top: 25px;
}
*/

.btn-submit {
    display: block;
    float: right;
    width: 584px;
}

button {
    background-color: Transparent;
    /*background-repeat: no-repeat;*/
    border: none;
    cursor: pointer;
    display: block;
    float: right;
    margin-right: 40px;
    margin-top: 25px;
    /*overflow: hidden;*/
    outline: none;
    padding: 0px;
}

button img {
    display: block;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

button img:hover {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}