body {
    background-image: url('../images/prototypes/12772922_1117590691585488_878658930_o.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background-position: center;
    border: 1px solid black;
}

#loginPanel {
    overflow: hidden;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 7%;
    border: 1px solid black;
}

.left {
    float: left;
}

.right {
    float: right;
}

input[type="submit"] {
    border: 0;
    box-sizing: border-box;
    outline: none;
    background-image: url('../images/prototypes/transparent_oi.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    width: 57px;
    height: 59px;
}