<!DOCTYPE html>
<html>

<head>
    <title>
        = The Myth of = homeground
    </title>
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/static/css/apply.css">
</head>

<body>
    <div id="container">
        <div id="left-in">
            <p>We are sorry to announce that we are:</p>
            <p><span class="blue">INV</span><span class="orange">ITE O</span><span class="pink">NLY</span></p>
            <p>It's caused by one simple fact. Humans cannot become Gods. We are the only who can make a human one of us.</p>
            <p>So keep worshipping us and maybe one day we will reward you!</p>
        </div>
        <div id="right-in">
            <a href="/"><p>RETURN HOME</p></a>
        </div>
    </div>
</body>

</html>