<!DOCTYPE html>
<html>

<head>
    <title>
        = The Myth of = homeground
    </title>
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/static/css/halloffame.css">
</head>

<body>
    <% include const_elements/header %>
    <!--
    <div id="body-tmo-text-image"><img src="_old/images/prototypes_v3/elementy/tmo-text-end.png" alt="tmo-text" /><img src="_old/images/prototypes_v3/elementy/tmo-text.png" alt="tmo-text" /></div>
    <div id="tmo-header">
        <a id="tmo-logo-a-link" href="lobby.html"><img id="tmo-img" src="_old/images/prototypes_v3/elementy/imageedit_33_3852496117_v8.png" alt="tmo-logo" /></a>
    </div>
    <div id="header-black-strip"></div>
    -->
    
    <% include const_elements/nav-top %>
    <!--
    <div id="nav-blue-strip"></div>
    <div id="tmo-nav-bar">
        <div id="tmo-ts-ip-clipboard" class="not-active"></div>
        <ul>
            <li><a href="roster.html">ROSTER</a></li>
            <li><a href="history.html">HISTORY</a></li>
            <li><a class="not-active" href="">WARS</a></li>
            <li><a href="halloffame.html">HALL OF FAME</a></li>
            <li><a href="apply.html">APPLY</a></li>
            <li><a class="not-active" href="">FORUM</a></li>
        </ul>
    </div>
    -->
    <% include const_elements/nav-bottom %>
    <!--
    <div id="black-to-white-strip"></div>
    <div id="blue-orange-pink-strip"></div>
    -->

    <div id="main-content">
        <div class="content-header">
            <p>WORTH REMEMBERING</p>
        </div>
        <div id="content-hall">
            <div class="section">
                <div class="header">
                    <p>CALL OF DUTY 1.1</p>
                </div>
                <div class="league">
                    <div class="league-name"><img class="test-img" src="/static/images/tmoolympus/halloffame/cupgold.png" alt="golden-award" />
                        <p>1st place - Survive Cup 2016</p>
                    </div>
                    <div class="last-match">
                        <p>Final won against <span class="italic">GodLike</span></p>
                    </div>
                </div>
                <div class="league">
                    <div class="league-name"><img class="test-img" src="/static/images/tmoolympus/halloffame/cupbronze.png" alt="bronze-award" />
                        <p>3rd place - USC Cup 2015</p>
                    </div>
                    <div class="last-match">
                        <p>Semi-final lost to <span class="italic">w y 6</span></p>
                    </div>
                </div>
                <div class="league">
                    <div class="league-name"><img class="test-img" src="/static/images/tmoolympus/halloffame/cupsilver.png" alt="silver-award" />
                        <p>2nd place - The Myth of Cup 2012</p>
                    </div>
                    <div class="last-match">
                        <p>Final lost to <span class="italic">Beyond Gaming</span></p>
                    </div>
                </div>
                <div class="league">

                    <div class="league-name"><img class="test-img" src="/static/images/tmoolympus/halloffame/cupgold.png" alt="golden-award" />
                        <p>1st place - Elite League 2007</p>
                    </div>
                    <div class="last-match">
                        <p>Final won against <span class="italic">Elite Clan</span></p>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="header">
                    <p>CALL OF DUTY 1.5</p>
                </div>
                <div class="league">
                    <div class="league-name">
                        <p>5th place in group B - vCoDcupseries Winter Cup Rifle Only 2014/2015</p>
                    </div>
                </div>
                <div class="league">
                    <div class="league-name"><img class="test-img" src="/static/images/tmoolympus/halloffame/cupgold.png" alt="golden-award" />
                        <p>1st place - vCoDcupseries Night Cup #1 AW SD 2014</p>
                    </div>
                    <idv class="last-match">
                        <p>Final won against <span class="italic">[v]incere</span></p>
                    </idv>
                    <div class="special-thanks">
                        <p>Special thanks to <span class="italic">Koder</span></p>
                    </div>
                </div>
                <div class="league">
                    <div class="league-name">
                        <p>5th place in group C - vCoDcupseries #4 Rifle Only 2013/2014</p>
                    </div>
                </div>
            </div>
            
             <div id="honorary-members">
                <h3><span class="blue-color">Honor</span><span class="yellow-color">ary me</span><span class="pink-color">mbers</span></h3>
               
                <div id="player-desc"><p>Byly sobie kotki dwa, siala lala la. Byly sobie kotki dwa, siala lala la. Byly sobie kotki dwa, siala lala la. Byly sobie kotki dwa, siala lala la. Byly sobie kotki dwa, siala lala la. Byly sobie kotki dwa, siala lala la. Byly sobie kotki dwa, siala lala la. Byly sobie kotki dwa, siala lala la. Byly sobie kotki dwa, siala lala la. Byly sobie kotki dwa, siala lala la. Byly sobie kotki dwa, siala lala la.</p></div>
                
                <div id="players-list"><p><span>Tehacek</span>, <span>Single</span>, <span>Naruto</span>, <span>Playboy</span>, <span>Fatal</span>, <span>Spikey</span>, <span>Hellas</span>, <span>Dezert</span>, <span>Star</span>, <span>Trip</span>, <span>Dinny</span>, <span>Scream</span>, <span>Smoke</span>, <span>Zed</span>, <span>Beast</span>, <span>Pepsi</span>, <span>Frag</span>, <span>Benjamin</span>, <span>Scope</span>, <span>Kraj</span>, <span>Reggy</span>, <span>Powny</span>, <span>Mystery</span>, <span>Affe</span>, <span>Xeqtr</span>, <span>ZeKe</span>, <span>Desther</span>, <span>Tihi</span>, <span>Legend</span>, <span>Mobius</span>, <span>Matthias</span></p></div>
            </div>
        </div>
    </div>

    <% include const_elements/footer %>
    <!--
    <div id="footer">
        <p id="footer-pink-background">= THE MYTH OF = &copy; 2016</p>
    </div>
    -->
</body>

</html>