<!DOCTYPE html>
<html>

<head>
    <title>
        = The Myth of = homeground
    </title>
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/static/css/history.css">
</head>

<body>
    <% include const_elements/header %>
    <!--
    <div id="body-tmo-text-image"><img src="_old/images/prototypes_v3/elementy/tmo-text-end.png" alt="tmo-text" /><img src="_old/images/prototypes_v3/elementy/tmo-text.png" alt="tmo-text" /></div>
    <div id="tmo-header">
        <a id="tmo-logo-a-link" href="lobby.html"><img id="tmo-img" src="_old/images/prototypes_v3/elementy/imageedit_33_3852496117_v8.png" alt="tmo-logo" /></a>
    </div>
    <div id="header-black-strip"></div>
    -->
    
    <% include const_elements/nav-top %>
    <!--
    <div id="nav-blue-strip"></div>
    <div id="tmo-nav-bar">
        <div id="tmo-ts-ip-clipboard" class="not-active"></div>
        <ul>
            <li><a href="roster.html">ROSTER</a></li>
            <li><a href="history.html">HISTORY</a></li>
            <li><a class="not-active" href="">WARS</a></li>
            <li><a href="halloffame.html">HALL OF FAME</a></li>
            <li><a href="apply.html">APPLY</a></li>
            <li><a class="not-active" href="">FORUM</a></li>
        </ul>
    </div>
    -->
    <% include const_elements/nav-bottom %>
    <!--
    <div id="black-to-white-strip"></div>
    <div id="blue-orange-pink-strip"></div>
    -->

    <div id="main-content">
        <div class="content-header">
            <p>OUR PAST AND PRESENT</p>
        </div>
        <div class="content-history">
            <div class="history-section">
                <p>It all started in the beginning of 2007 when Try2Be Clan went inactive, but despite this Smokie and Tehacek decided to carry on playing together. They built a fun clan with the name "The Myth of". They wanted to create something special, a unique clan solely consisting of the most elite players at the time. Their aim was to create a clan that would last for years and always remain at the top end of the scene. They both decided to only recruit players from 2003-2005, thus resulting in the original lineup being built around some of the oldest and most prominent players in the game. Within a few weeks, "The Myth of" became a real clan.</p>
                <p>By following the same set of rules for recruitment, alot of great players decided to leave their current teams and join up. After a nice period of success on 1.1, Smokie unfortunetely went inactive for half a year. During these months, TMO began to deteriorate, which resulted in Tehacek and some other TMO members starting a new clan, called AMNESiA. When Smokie returned to the scene, Tehacek and AMNESiA were one of the best clans on the game. Smokie wanted to bring back and TMO and Tehacek wanted to carry on with AMNESiA, causing both players to go their separate ways. With a new look roster, Smokie decided to add Single to the leader board with Reggy as Co-Leader. Although Single didn't stick around for long. </p>
                <p>The line-up got a lot bigger and stronger over time causing Smokie to choose new management, he decided to make the Danish Brothers Naruto and Playboy the new Co-Leaders. During this period TMO became pretty sucessful again, but this was not without it's ups and downs. The roster changed dramaitcally every couple of weeks, aswell as short periods of inactivity. After some time, Danzi, Fade and later Hayden were made Co-Leaders, with Smokie still continuing as leader.</p>
                <p>Regardless of breaks and inevitable issues in the past, TMO still exists as one of the best clans in the game. This is due to the core members TMO has relied upon for many years now. Theses core members have enabled TMO to become a more skilled and loyal clan, which we hope will continue for many years to come.</p>
            </div>
            <div class="past-logos">
                <div class="image">
                    <img class="logo-img" src="/static/images/tmoolympus/history/tmohistory-logo1.png" alt="logo1" />
                    <p class="logo-desc">2007 - 2011</p>
                </div>
                <div class="image">
                    <img class="logo-img" src="/static/images/tmoolympus/history/tmohistory-logo2.jpg" alt="logo2" />
                    <p class="logo-desc">2011 - 2014</p>
                </div>
                <div class="image">
                    <img class="logo-img" src="/static/images/tmoolympus/history/tmohistory-logo3.png" alt="logo3" />
                    <p class="logo-desc">2014 - <span class="skyblue">now</span></p>
                </div>
            </div>
        </div>
    </div>

    <% include const_elements/footer %>
    <!--
    <div id="footer">
        <p id="footer-pink-background">= THE MYTH OF = &copy; 2016</p>
    </div>
    -->

    <script type="text/javascript" src="/static/scripts/roster.js"></script>
</body>

</html>