<!DOCTYPE html>
<html>

<head>
    <title>
        = The Myth of = homeground
    </title>
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/static/css/museum.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>


<body>
    <% include const_elements/header %>
    <% include const_elements/nav-top %>
    <% include const_elements/nav-bottom %>
    
    
    <div id="main-content">
        <div class="content-header">
            <p>ENTRANCE</p>
        </div>
        
        <div id="content-hall">
        
            <div id="cards-middle">
                <a href="/honorary"><img src="/static/images/tmoolympus/museum/karta1.png"/></a>
                <a href="/trophyroom"><img src="/static/images/tmoolympus/museum/karta2.png"/></a>
            </div>

        </div>
    </div>
    
    <% include const_elements/footer %>
    
    <script type="text/javascript" src="/static/scripts/museum.js"></script>
</body>


</html>