<!DOCTYPE html>
<html>

<head>
    <title>
        = The Myth of = homeground
    </title>
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/static/css/roster.css">
</head>

<body>
    <% include const_elements/header %>
        <!--
    <div id="body-tmo-text-image"><img src="_old/images/prototypes_v3/elementy/tmo-text-end.png" alt="tmo-text" /><img src="_old/images/prototypes_v3/elementy/tmo-text.png" alt="tmo-text" /></div>
    <div id="tmo-header">
        <a id="tmo-logo-a-link" href="lobby.html"><img id="tmo-img" src="_old/images/prototypes_v3/elementy/imageedit_33_3852496117_v8.png" alt="tmo-logo" /></a>
    </div>
    <div id="header-black-strip"></div>
    -->

        <% include const_elements/nav-top %>
            <!--
    <div id="nav-blue-strip"></div>
    <div id="tmo-nav-bar">
        <div id="tmo-ts-ip-clipboard" class="not-active"></div>
        <ul>
            <li><a href="roster.html">ROSTER</a></li>
            <li><a href="history.html">HISTORY</a></li>
            <li><a class="not-active" href="">WARS</a></li>
            <li><a href="halloffame.html">HALL OF FAME</a></li>
            <li><a href="apply.html">APPLY</a></li>
            <li><a class="not-active" href="">FORUM</a></li>
        </ul>
    </div>
    -->
            <% include const_elements/nav-bottom %>
                <!--
    <div id="black-to-white-strip"></div>
    <div id="blue-orange-pink-strip"></div>
    -->

                <div id="main-content">
                    <div class="content-header">
                        <p>TEAM ROSTER</p>
                    </div>
                    <div id="roster">
                        <div class="roster-element">
                            <img src="/static/images/tmoolympus/roster/oneteam.png" alt="oneateam-pic" />
                        </div>
                        <!--
            -->
                        <div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232smokie.png" alt="snk-pic" /></a>
                        </div>
                        <!--
            -->
                        <div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232fade.png" alt="fade-pic" /></a>
                        </div>
                        <!--
            -->
                        <div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232danzi.png" alt="danzi-pic" /></a>
                        </div>
                        <!--
            -->
                        <div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232hayden.png" alt="hayden-pic" /></a>
                        </div>
                        <!--
            -->
                        <!--<div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232vamp.png" alt="vampire-pic" /></a>
                        </div>-->
                        <!--
            -->
                        <div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232majza.png" alt="mizery-pic" /></a>
                        </div>
                        <!--
            -->
                        <div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232dm.png" alt="deathmask-pic" /></a>
                        </div>
                        <!--
            -->
                        <div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232kiki.png" alt="kiki-pic" /></a>
                        </div>
                        <!--
            -->
                        <!--<div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232kingz.png" alt="kingz-pic" /></a>
                        </div>-->
                        <!--
            -->
                        <div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232aussie.png" alt="aussie-pic" /></a>
                        </div>
                        <!--
            -->
                        <!--<div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232ripper.png" alt="ripper-pic" /></a>
                        </div>-->
                        <div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232ronox.png" alt="ronox-pic" /></a>
                        </div>
                        <!--<div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232box.png" alt="box-pic" /></a>
                        </div>
                        <div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232box.png" alt="box-pic" /></a>
                        </div>-->
                        <div class="roster-element">
                            <a class="not-active" href=""><img src="/static/images/tmoolympus/roster/232rezi.png" alt="rez-pic" /></a>
                        </div>
                        <div class="roster-element">
                            <img src="/static/images/tmoolympus/roster/onefamily.png" alt="onefamily-pic" />
                        </div>
                    </div>
                </div>

                <% include const_elements/footer %>
                    <!--
    <div id="footer">
        <p id="footer-pink-background">= THE MYTH OF = &copy; 2016</p>
    </div>
    -->

                    <script type="text/javascript" src="/static/scripts/roster.js"></script>
</body>

</html>