<!DOCTYPE html>
<html>

<head>
    <title>
        = The Myth of = homeground
    </title>
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/static/css/trophyroom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>


<body>
    <% include const_elements/header %>
    <% include const_elements/nav-top %>
    <% include const_elements/nav-bottom %>
    
    
    <div id="main-content">
        <div class="content-header">
            <p>TROPHY ROOM</p>
        </div>
        
        <div id="content-hall">

        </div>
    </div>
    
    <% include const_elements/footer %>
    
    <script type="text/javascript" src="/static/scripts/trophyroom.js"></script>
</body>


</html>