<div id="body-tmo-text-image">
    <img src="/static/images/tmoolympus/const_elements/tmoheader-text-end.png" alt="tmo-text" />
    <img src="/static/images/tmoolympus/const_elements/tmoheader-text.png" alt="tmo-text" />
</div>
<div id="tmo-header">
    <a id="tmo-logo-a-link" href="/"><img id="tmo-img" src="/static/images/tmoolympus/const_elements/tmoheader.png" alt="tmo-logo" /></a>
    <a id="tmo-10th-link" href="/history">
        <img id="10th-img" src="/static/images/tmoolympus/const_elements/teeemeo.png"/>
    </a>
</div>
<div id="header-black-strip"></div>