<div id="last-results-container">
    <div id="last-wars-text" class="rotate">
        <p>LAST WARS</p>
    </div>
    <div id="results-container">
        <div class="single-result">
            <div class="clan-logo">
                <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/elementy/imageedit_51_6420134037.png" alt="home-img" /></a>
            </div>
            <div class="war-result">
                <div class="test-wrap-div color-blue">
                    <p><span class="">26</span><span class="color-black">:</span><span class="">17</span></p>
                    <p class="details-link"><a class="not-active" href="">details</a></p>
                </div>
            </div>
            <div class="clan-logo">
                <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/loga-cod/godlike.png" alt="oponent-img" /></a>
            </div>
        </div>
        <div class="single-result">
            <div class="clan-logo">
                <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/elementy/imageedit_51_6420134037.png" alt="home-img" /></a>
            </div>
            <div class="war-result">
                <div class="test-wrap-div color-blue">
                    <p><span class="">36</span><span class="color-black">:</span><span class="">17</span></p>
                    <p class="details-link"><a class="not-active" href="">details</a></p>
                </div>
            </div>
            <div class="clan-logo">
                <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/loga-cod/9gag.png" alt="oponent-img" /></a>
            </div>
        </div>
        <div class="single-result">
            <div class="clan-logo">
                <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/elementy/imageedit_51_6420134037.png" alt="home-img" /></a>
            </div>
            <div class="war-result">
                <div class="test-wrap-div color-blue">
                    <p><span class="">27</span><span class="color-black">:</span><span class="">10</span></p>
                    <p class="details-link"><a class="not-active" href="">details</a></p>
                </div>
            </div>
            <div class="clan-logo">
                <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/loga-cod/cg.png" alt="oponent-img" /></a>
            </div>
        </div>
    </div>
</div>