<div id="nav-blue-strip"></div>
<div id="tmo-nav-bar">
    <!--<div id="nav-bar-blue-strip"></div>-->
    <!-- -->
    <!--<div id="nav-bar-menu-list"></div> -->
    <div id="tmo-ts-ip-clipboard" class="not-active"></div>
    <ul>
        <li><a href="/roster">ROSTER</a></li>
        <li><a href="/history">HISTORY</a></li>
        <li><a href="/wars">WARS</a></li>
        <li><a href="/halloffame">HALL OF FAME</a></li>
        <li><a href="/apply">APPLY</a></li>
        <li><a class="not-active" href="">FORUM</a></li>
    </ul>
</div>