<div id="right-container">
    <!--<div id="right-container-headline">
                <p>CONTACT</p>
            </div>-->
    <div class="slide-show">
        <div class="right-content active-right-content">
            <div class="right-container-headline">
                <p>CONTACT</p>
            </div>
            <img class="background-img" src="/static/images/tmoolympus/lobby/tmorightcontainer-phonebg1.jpg" alt="right-background" />
            <div id="test-inside">
                <div class="contact-social-icon">
                    <a class="not-active" href=""><img src="/static/images/tmoolympus/lobby/tmorightcontainer-steamicon.png" alt="steam-icon" /></a>
                </div>
                <!--
                -->
                <div class="contact-social-icon">
                    <a class="not-active" href=""><img src="/static/images/tmoolympus/lobby/tmorightcontainer-fbicon.png" alt="fb_icon" /></a>
                </div>
            </div>
            <div id="clock">
                <p id="time"></p>
            </div>
            <div id="test-inside-2">
                <div class="gmail-icon">
                    <a class="not-active" href=""><img src="/static/images/tmoolympus/lobby/tmorightcontainer-gmailicon.png" alt="gmail-icon" /></a>
                </div>
            </div>
        </div>
        <div class="right-content is-hidden">
            <div class="right-container-headline">
                <p>PLAYER SETTINGS</p>
            </div>
            <img class="background-img" src="/static/images/tmoolympus/lobby/tmorightcontainer-phonebg2.jpg" alt="right-background" />
            <div id="test-inside">
                <div class="options-icon">
                    <a href="/settings"><img src="/static/images/tmoolympus/lobby/tmolobby_adminpanel.png" alt="admin-options" title="options" /></a>
                </div>
                <div class="options-icon">
                    <a href="/logout"><img src="/static/images/tmoolympus/lobby/tmolobby_logout.png" alt="logout-icon" title="logout" /></a>
                </div>
            </div>
        </div>
    </div>
    <div id="test-inside-3">
        <div class="slide-icon active"></div>
        <div class="slide-icon"></div>
    </div>
</div>