<div id="right-container">
    <!--<div id="right-container-headline">
                <p>CONTACT</p>
            </div>-->
    <div class="slide-show">
        <div class="right-content active-right-content">
            <div class="right-container-headline">
                <p>CONTACT</p>
            </div>
            <img class="background-img" src="/static/images/tmoolympus/const_elements/tmorightcontainer-phonebg1.jpg" alt="right-background" />
            <div id="test-inside">
                <div class="contact-social-icon">
                    <a class="not-active" href=""><img src="/static/images/tmoolympus/const_elements/tmorightcontainer-steamicon.png" alt="steam-icon" /></a>
                </div><!--
                --><div class="contact-social-icon">
                    <a class="not-active" href=""><img src="/static/images/tmoolympus/const_elements/tmorightcontainer-fbicon.png" alt="fb_icon" /></a>
                </div>
            </div>
            <div id="clock">
                <p id="time"></p>
            </div>
            <div id="test-inside-2">
                <div class="gmail-icon">
                    <a class="not-active" href=""><img src="/static/images/tmoolympus/const_elements/tmorightcontainer-gmailicon.png" alt="gmail-icon" /></a>
                </div>
            </div>
        </div>
        <div class="right-content is-hidden">
            <div class="right-container-headline">
                <p>RANDOM STUFF</p>
            </div>
            <img class="background-img" src="/static/images/tmoolympus/const_elements/tmorightcontainer-phonebg2.jpg" alt="right-background" />
        </div>
    </div>
    <div id="test-inside-3">
        <div class="slide-icon active"></div>
        <div class="slide-icon"></div>
    </div>
</div>