<div id="right-container">
    <!--<div id="right-container-headline">
                <p>CONTACT</p>
            </div>-->
    <div class="slide-show">
        <div class="right-content active-right-content">
            <div class="right-container-headline">
                <p>CONTACT</p>
            </div>
            <img class="background-img" src="/static/_old/images/prototypes_v3/elementy/12721747_1133425616668662_641202480_n.jpg" alt="right-background" />
            <div id="test-inside">
                <div class="contact-social-icon">
                    <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/elementy/ghh.png" alt="steam-icon" /></a>
                </div><!--
                --><div class="contact-social-icon">
                    <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/elementy/oie_1916227fKpUNtpU.png" alt="fb_icon" /></a>
                </div>
            </div>
            <div id="clock">
                <p id="time"></p>
            </div>
            <div id="test-inside-2">
                <div class="gmail-icon">
                    <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/elementy/oie_1916133XP7cfL1t.png" alt="gmail-icon" /></a>
                </div>
            </div>
        </div>
        <div class="right-content is-hidden">
            <div class="right-container-headline">
                <p>RANDOM STUFF</p>
            </div>
            <img class="background-img" src="/static/_old/images/prototypes_v3/elementy/imageedit_44_3098773349.jpg" alt="right-background" />
        </div>
    </div>
    <div id="test-inside-3">
        <div class="slide-icon active"></div>
        <div class="slide-icon"></div>
    </div>
</div>