html {
    height: 100%;
    overflow-y: scroll;
    position: relative;
}

body {
    background-attachment: fixed;
    background-image: url('../_old/images/prototypes_v3/12722623_1134473356563888_136086200_o.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    /*background-color: black;*/
    display: block;
    margin: 0;
    height: 100%;
    /*
    background: rgba(2, 46, 61, 1);
    background: -moz-linear-gradient(top, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(55%, rgba(2, 46, 61, 1)), color-stop(85%, rgba(171, 185, 190, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#022e3d', endColorstr='#ffffff', GradientType=0);
    */
    /*background: rgba(27,43,48,1);*/
    /*background: -moz-linear-gradient(top, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(80%, rgba(27,43,48,1)), color-stop(90%, rgba(141,149,152,1)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(top, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2b30', endColorstr='#ffffff', GradientType=0 );*/
    background-size: cover;
    position: relative;
}

#body-tmo-text-image {
    /* przesunac od headera w dol na lewo po powrocie z zajec */
    bottom: 100px;
    left: 30px;
    position: absolute;
    z-index: -1;
}

#body-tmo-text-image img {
    display: block;
}

.is-hidden {
    display: none;
}

#tmo-header {
    /*border: 1px solid red;*/
    display: block;
    height: 83px;
    /* 83 */
    margin: 0 auto;
    /*margin-top: 40px;*/
    padding-top: 40px;
    /*position: relative;*/
    /*top: 40px;*/
    width: 931px;
    /*
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(1%, rgba(255, 255, 255, 1)), color-stop(44%, rgba(255, 255, 255, 0.57)), color-stop(47%, rgba(246, 246, 246, 0.54)), color-stop(100%, rgba(237, 237, 237, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
    */
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 0.53)), color-stop(100%, rgba(237, 237, 237, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
    background-clip: content-box;
}

#tmo-logo-a-link {
    /*display: block;*/
    /*float: left;*/
    left: -28px;
    top: -30px;
    /* -28px ? */
    position: relative;
    width: 428px;
}

#tmo-img {
    /*display: block;*/
}

#black-to-transparent-header-bar {
    /*border: 1px solid red;*/
    clear: both;
    /*display: block;*/
    height: 7px;
    /* 6px? */
    position: relative;
    top: -27px;
    /*
    background: rgba(67, 68, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 68, 73, 1)), color-stop(96%, rgba(67, 68, 73, 0.04)), color-stop(100%, rgba(237, 237, 237, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: linear-gradient(to right, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434449', endColorstr='#ededed', GradientType=1);
    */
    /*
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(73%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(246, 246, 246, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#f6f6f6', GradientType=1);
    */
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);
}

#header-black-strip {
    height: 7px;
    margin: 0 auto;
    width: 931px;
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);
}

#nav-blue-strip {
    /*display: block;*/
    height: 7px;
    margin: 0 auto;
    margin-top: 7px;
    width: 931px;
    background: rgba(34, 180, 229, 1);
    background: -moz-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34, 180, 229, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#22b4e5', endColorstr='#ffffff', GradientType=1);
}

#tmo-nav-bar {
    color: white;
    /*display: block;*/
    /*font-family: Arial;*/
    font-family: 'Browallia new';
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    margin: 0 auto;
    /*margin-top: 14px;*/
    text-align: center;
    width: 931px;
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);
}

#nav-bar-menu-list {
    /*display:block;*/
    /*height: 74px;*/
    /*text-align: center;*/
    /*background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);*/
}

#tmo-ts-ip-clipboard {
    background-attachment: local;
    /* moze spowodowac blad */
    background-image: url(../_old/images/prototypes_v3/elementy/imageedit_43_9894477728.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    float: right;
    height: 25px;
    margin-top: 17px;
    margin-right: 17px;
    width: 25px;
}

#tmo-nav-bar ul {
    line-height: 60px;
}

#tmo-nav-bar ul li {
    display: inline;
    padding-right: 40px;
}

#tmo-nav-bar li:last-child {
    padding-right: 0px;
}

#tmo-nav-bar ul li a:link,
#tmo-nav-bar ul li a:visited,
#tmo-nav-bar ul li a:focus {
    color: white;
    text-decoration: none;
}

#tmo-nav-bar ul li a:hover {
    color: white;
    text-decoration: none;
}

#tmo-nav-bar ul li a:active {
    color: white;
    text-decoration: none;
}


/* ---- LAST RESULTS STYLES ---- */

#last-results-container {
    position: relative;
    background-color: white;
    height: 110px;
    margin: 0 auto;
    width: 931px;
}

#last-wars-text {
    /*display: inline-block;*/
    height: 24px;
    position: absolute;
    width: 110px;
    /*line-height: 150%;*/
}

#last-wars-text p {
    color: black;
    font-family: 'Browallia new';
    font-size: 24px;
    /*font-weight: bold;*/
}

.rotate {
    text-align: center;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: 0 0;
}

#results-container {
    /*display: inline-block;*/
    height: 110px;
    margin-left: 25px;
    /* 24 + 1 */
    text-align: center;
    width: 906px;
}

.single-result {
    display: inline-block;
    height: 110px;
    position: relative;
    /*width: 302px;*/
    width: auto;
}

.clan-logo {
    display: inline-block;
    height: 110px;
    position: relative;
    width: 100px;
}

.clan-logo a img {
    margin: auto;
    display: block;
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    max-width: 80px;
    max-height: 74px;
    height: auto;
}

.war-result {
    display: inline-block;
    height: 110px;
    /*text-align: center;*/
    /*position: relative;*/
    text-align: center;
    width: 82px;
    /* 102 */
    vertical-align: top;
}

.test-wrap-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.test-wrap-div p {
    font-family: 'Browallia new';
    font-size: 40px;
    font-weight: bold;
    /*line-height: 110px;*/
}

.test-wrap-div p.details-link {
    font-size: 30px;
    font-weight: 100;
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}

.color-orange {
    color: rgba(238, 118, 53, 1);
}

.color-pink {
    color: rgba(202, 45, 118, 1);
}

.color-blue {
    color: deepskyblue;
}

.color-black {
    color: black;
}


/* ----------------------------- */

#black-to-white-strip {
    height: 7px;
    margin: 0 auto;
    width: 931px;
    /*
    background: rgba(67, 68, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 68, 73, 1)), color-stop(30%, rgba(67, 68, 73, 1)), color-stop(92%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to right, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434449', endColorstr='#ededed', GradientType=1);
    */
    background: rgba(67, 68, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 68, 73, 1)), color-stop(30%, rgba(67, 68, 73, 1)), color-stop(85%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434449', endColorstr='#ffffff', GradientType=1);
}

#blue-orange-pink-strip {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 50px;
    margin: 0 auto;
    width: 931px;
    /*
    background: rgba(51, 176, 221, 0.5);
    background: -moz-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51, 176, 221, 0.5)), color-stop(50%, rgba(238, 118, 53, 0.5)), color-stop(100%, rgba(202, 45, 118, 0.5)));
    background: -webkit-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: -ms-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: linear-gradient(to right, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33b0dd', endColorstr='#ca2d76', GradientType=1);
    */
    /*background: rgba(51, 176, 221, 0.7);
    background: -moz-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51, 176, 221, 0.7)), color-stop(50%, rgba(238, 118, 53, 0.7)), color-stop(100%, rgba(202, 45, 118, 0.7)));
    background: -webkit-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: linear-gradient(to right, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33b0dd', endColorstr='#ca2d76', GradientType=1);
    */
    background: rgba(51, 176, 221, 0.7);
    background: -moz-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 201, 14, 0.7)), color-stop(50%, rgba(238, 118, 53, 0.7)), color-stop(100%, rgba(202, 45, 118, 0.7)));
    background: -webkit-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: linear-gradient(to right, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33b0dd', endColorstr='#ca2d76', GradientType=1);
}

#main-content {
    /*border-top-left-radius: 15px;*/
    /*border-top-right-radius: 15px;*/
    margin: 22px auto 0 auto;
    width: 931px;
}

#main-content:before,
#main-content:after {
    content: '';
    display: block;
}

#main-content:after {
    clear: both;
}

#news {
    float: left;
    width: 691px;
}

#news-bar {
    border-top-left-radius: 15px;
    /*border-top-right-radius: 15px;*/
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#ffffff', GradientType=1);
}

#news-bar p {
    color: white;
    font-family: 'Browallia new';
    font-size: 30px;
    font-weight: bold;
}

.simple-news {
    /*border: 1px solid red;*/
    /*height: 130px;*/
}

.simple-news-headline {
    /*border: 1px solid blue;*/
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
    left: -28px;
    line-height: 40px;
    position: relative;
    text-align: left;
    width: 719px;
}


/* blue */

#tmo-1-gradient-background {
    /*background: rgba(51, 176, 221, 1);
    background: -moz-linear-gradient(left, rgba(51, 176, 221, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51, 176, 221, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(51, 176, 221, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(51, 176, 221, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(51, 176, 221, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(51, 176, 221, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33b0dd', endColorstr='#ffffff', GradientType=1);*/
    background: rgba(19, 138, 185, 1);
    background: -moz-linear-gradient(left, rgba(19, 138, 185, 1) 0%, rgba(19, 138, 185, 1) 8%, rgba(52, 176, 221, 1) 12%, rgba(52, 176, 221, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(19, 138, 185, 1)), color-stop(8%, rgba(19, 138, 185, 1)), color-stop(12%, rgba(52, 176, 221, 1)), color-stop(100%, rgba(52, 176, 221, 1)));
    background: -webkit-linear-gradient(left, rgba(19, 138, 185, 1) 0%, rgba(19, 138, 185, 1) 8%, rgba(52, 176, 221, 1) 12%, rgba(52, 176, 221, 1) 100%);
    background: -o-linear-gradient(left, rgba(19, 138, 185, 1) 0%, rgba(19, 138, 185, 1) 8%, rgba(52, 176, 221, 1) 12%, rgba(52, 176, 221, 1) 100%);
    background: -ms-linear-gradient(left, rgba(19, 138, 185, 1) 0%, rgba(19, 138, 185, 1) 8%, rgba(52, 176, 221, 1) 12%, rgba(52, 176, 221, 1) 100%);
    background: linear-gradient(to right, rgba(19, 138, 185, 1) 0%, rgba(19, 138, 185, 1) 8%, rgba(52, 176, 221, 1) 12%, rgba(52, 176, 221, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#138ab9', endColorstr='#34b0dd', GradientType=1);
}


/* yellow */

#tmo-2-gradient-background {
    /*background: rgba(238, 118, 53, 1);
    background: -moz-linear-gradient(left, rgba(238, 118, 53, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238, 118, 53, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(238, 118, 53, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(238, 118, 53, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(238, 118, 53, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(238, 118, 53, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ee7635', endColorstr='#ffffff', GradientType=1);*/
    /*background: rgba(255, 201, 14, 1);
    background: -moz-linear-gradient(left, rgba(255, 201, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238, 118, 53, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 201, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 201, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 201, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 201, 14, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffc90e', endColorstr='#ffffff', GradientType=1);
    */
    background: rgba(234, 127, 56, 1);
    background: -moz-linear-gradient(left, rgba(234, 127, 56, 1) 0%, rgba(234, 127, 56, 1) 8%, rgba(255, 203, 14, 1) 12%, rgba(255, 203, 14, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(234, 127, 56, 1)), color-stop(8%, rgba(234, 127, 56, 1)), color-stop(12%, rgba(255, 203, 14, 1)), color-stop(100%, rgba(255, 203, 14, 1)));
    background: -webkit-linear-gradient(left, rgba(234, 127, 56, 1) 0%, rgba(234, 127, 56, 1) 8%, rgba(255, 203, 14, 1) 12%, rgba(255, 203, 14, 1) 100%);
    background: -o-linear-gradient(left, rgba(234, 127, 56, 1) 0%, rgba(234, 127, 56, 1) 8%, rgba(255, 203, 14, 1) 12%, rgba(255, 203, 14, 1) 100%);
    background: -ms-linear-gradient(left, rgba(234, 127, 56, 1) 0%, rgba(234, 127, 56, 1) 8%, rgba(255, 203, 14, 1) 12%, rgba(255, 203, 14, 1) 100%);
    background: linear-gradient(to right, rgba(234, 127, 56, 1) 0%, rgba(234, 127, 56, 1) 8%, rgba(255, 203, 14, 1) 12%, rgba(255, 203, 14, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ea7f38', endColorstr='#ffcb0e', GradientType=1);
}


/* pink */

#tmo-3-gradient-background {
    /*background: rgba(202, 45, 118, 1);
    background: -moz-linear-gradient(left, rgba(202, 45, 118, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(202, 45, 118, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(202, 45, 118, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(202, 45, 118, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(202, 45, 118, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(202, 45, 118, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ca2d76', endColorstr='#ffffff', GradientType=1);
    */
    background: rgba(159, 44, 96, 1);
    background: -moz-linear-gradient(left, rgba(159, 44, 96, 1) 0%, rgba(159, 44, 96, 1) 8%, rgba(203, 45, 119, 1) 12%, rgba(203, 45, 119, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(159, 44, 96, 1)), color-stop(8%, rgba(159, 44, 96, 1)), color-stop(12%, rgba(203, 45, 119, 1)), color-stop(100%, rgba(203, 45, 119, 1)));
    background: -webkit-linear-gradient(left, rgba(159, 44, 96, 1) 0%, rgba(159, 44, 96, 1) 8%, rgba(203, 45, 119, 1) 12%, rgba(203, 45, 119, 1) 100%);
    background: -o-linear-gradient(left, rgba(159, 44, 96, 1) 0%, rgba(159, 44, 96, 1) 8%, rgba(203, 45, 119, 1) 12%, rgba(203, 45, 119, 1) 100%);
    background: -ms-linear-gradient(left, rgba(159, 44, 96, 1) 0%, rgba(159, 44, 96, 1) 8%, rgba(203, 45, 119, 1) 12%, rgba(203, 45, 119, 1) 100%);
    background: linear-gradient(to right, rgba(159, 44, 96, 1) 0%, rgba(159, 44, 96, 1) 8%, rgba(203, 45, 119, 1) 12%, rgba(203, 45, 119, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9f2c60', endColorstr='#cb2d77', GradientType=1);
}

.simple-news-headline div.headline {
    /*color: white;*/
    font-family: 'Browallia new';
    font-size: 38px;
    float: left;
    padding-left: 10px;
    width: 514px;
}

.simple-news-headline div.headline p a {
    color: white;
}

.simple-news-headline div.date {
    color: white;
    /* white */
    font-family: 'Browallia new';
    font-size: 24px;
    /*font-style: italic;*/
    float: right;
    text-align: right;
    padding-right: 10px;
    width: 185px;
}

.simple-news-headline div.date p {
    line-height: 20px;
}

.font-style-italic {
    font-style: italic;
}

.color-grey {
    color: grey;
}

.simple-news-content {
    /*border: 1px solid red;*/
    /*height: 90px;*/
    position: relative;
}

.simple-news-content .news-img {
    height: 90px;
    overflow: hidden;
    position: relative;
}

.simple-news-content .news-img p.show-more {
    cursor: pointer;
    /*color: white;*/
    color: palevioletred;
    font-family: 'Browallia new';
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    /*top: 60px;
    right: 10px;*/
    right: 10px;
    bottom: 6px;
}

.simple-news-content .news-img img {
    display: block;
    width: 691px;
}

.simple-news-content .news-text {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    font-family: 'Browallia new';
}


/* blue */

.tmo-1-box-shadow {
    -webkit-box-shadow: 0px 6px 20px 1px rgba(51, 176, 221, 1);
    -moz-box-shadow: 0px 6px 20px 1px rgba(51, 176, 221, 1);
    box-shadow: 0px 6px 20px 1px rgba(51, 176, 221, 1);
}


/* yellow */

.tmo-2-box-shadow {
    /*-webkit-box-shadow: 0px 6px 20px 1px rgba(238, 118, 53, 1);
    -moz-box-shadow: 0px 6px 20px 1px rgba(238, 118, 53, 1);
    box-shadow: 0px 6px 20px 1px rgba(238, 118, 53, 1);*/
    -webkit-box-shadow: 0px 6px 20px 1px rgba(255, 201, 14, 1);
    -moz-box-shadow: 0px 6px 20px 1px rgba(255, 201, 14, 1);
    box-shadow: 0px 6px 20px 1px rgba(255, 201, 14, 1);
}


/* pink */

.tmo-3-box-shadow {
    -webkit-box-shadow: 0px 6px 20px 1px rgba(202, 44, 118, 1);
    -moz-box-shadow: 0px 6px 20px 1px rgba(202, 44, 118, 1);
    box-shadow: 0px 6px 20px 1px rgba(202, 44, 118, 1);
}

.simple-news-content .news-text p {
    font-size: 20px;
    padding: 5px;
}


/* contact styles */

#right-container {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 10px solid rgba(67, 67, 73, 0.8);
    /*border-top
    border-left: 10px solid rgba(67, 67, 73, 1);
    border-right: 10px solid rgba(67, 67, 73, 1);
    border-bottom: 10px solid rgba(67, 67, 73, 1);*/
    float: right;
    height: 373px;
    position: relative;
    /* 433 */
    /* 218 */
    width: 198px;
    /*
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#ffffff', GradientType=1);*/
}

.right-container-headline {
    /*border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
    background: rgba(67, 67, 73, 0.8);
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.right-container-headline p {
    color: white;
    font-family: 'Browallia new';
    font-size: 20px;
    font-weight: bold;
}

.active-right-content {}

.right-content {
    position: relative;
    /*background-image: url('../_old/images/prototypes_v3/elementy/12077435_1133425613335329_779981664_n.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    height: 373px;
    /* 383 */
    margin: 0 auto;
    width: 198px;
}


/*
.right-content:before {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../_old/images/prototypes_v3/elementy/imageedit_44_3098773349.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}*/

.right-content .background-img {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 333px;
    /*height: 100%;*/
    /*
    background: url('../_old/images/prototypes_v3/elementy/imageedit_44_3098773349.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    */
    /*opacity: 0.8;*/
}

#test-inside {
    padding-top: 60px;
    text-align: center;
}

#test-inside .contact-social-icon {
    display: inline-block;
    margin-right: 15px;
}

#test-inside .contact-social-icon:last-child {
    margin-right: 0px;
}

#test-inside .contact-social-icon img {
    display: block;
    height: 35px;
    width: 35px;
}

#clock {
    line-height: 45px;
    text-align: center;
}

#clock p {
    color: white;
    font-family: 'Browallia new';
    font-size: 45px;
    margin-top: 30px;
}

#test-inside-2 {
    margin-top: 30px;
    text-align: center;
}

#test-inside-2 .gmail-icon {
    display: inline-block;
}

#test-inside-2 .gmail-icon img {
    display: block;
    height: 36px;
    width: 45px;
}

#test-inside-3 {
    position: absolute;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 30px;
    z-index: 3;
}

.slide-icon {
    background-color: gainsboro;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 10px;
}

.slide-icon:last-child {
    margin-right: 0px;
}

.active {
    background-color: skyblue;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
}


/* -------------- */

#footer {
    margin: 30px auto 20px auto;
    text-align: center;
    width: 931px;
    font-family: 'Browallia new';
    font-weight: bold;
}

#footer div#pagination {
    margin-bottom: 20px;
}

#footer div#pagination p {
    /*background-color: skyblue;*/
    border-radius: 5px;
    display: inline;
    padding: 3px 5px 3px 5px;
}

#footer div#copyrights p {
    border-radius: 5px;
    display: inline;
    padding: 3px 5px 3px 5px;
}

#footer-blue-background {
    background-color: rgba(51, 176, 221, 0.9);
}

#footer-orange-background {
    /*background-color: rgba(231, 122, 53, 0.9);*/
    background-color: rgba(255, 201, 14, 0.9);
}

#footer-pink-background {
    background-color: rgba(202, 44, 118, 0.9);
}

#footer-copyrights {
    background-color: beige;
}


/* RANDOM */

.not-active {
    pointer-events: none;
    cursor: default;
}