html {
    height: 100%;
    overflow-y: scroll;
    position: relative;
}

body {
    background-attachment: fixed;
    background-image: url('../images/tmoolympus/const_elements/tmobackground1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    /*background-color: black;*/
    display: block;
    margin: 0;
    height: 100%;
    /*
    background: rgba(2, 46, 61, 1);
    background: -moz-linear-gradient(top, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(55%, rgba(2, 46, 61, 1)), color-stop(85%, rgba(171, 185, 190, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#022e3d', endColorstr='#ffffff', GradientType=0);
    */
    /*background: rgba(27,43,48,1);*/
    /*background: -moz-linear-gradient(top, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(80%, rgba(27,43,48,1)), color-stop(90%, rgba(141,149,152,1)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(top, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2b30', endColorstr='#ffffff', GradientType=0 );*/
    background-size: cover;
    position: relative;
}

#body-tmo-text-image {
    /* przesunac od headera w dol na lewo po powrocie z zajec */
    bottom: 100px;
    left: 30px;
    position: absolute;
    z-index: -1;
}

#body-tmo-text-image img {
    display: block;
}

.is-hidden {
    display: none;
}

#tmo-header {
    /*border: 1px solid red;*/
    display: block;
    height: 83px;
    /* 83 */
    margin: 0 auto;
    /*margin-top: 40px;*/
    padding-top: 40px;
    /*position: relative;*/
    /*top: 40px;*/
    width: 931px;
    /*
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(1%, rgba(255, 255, 255, 1)), color-stop(44%, rgba(255, 255, 255, 0.57)), color-stop(47%, rgba(246, 246, 246, 0.54)), color-stop(100%, rgba(237, 237, 237, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
    */
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 0.53)), color-stop(100%, rgba(237, 237, 237, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
    background-clip: content-box;
}

#tmo-logo-a-link {
    /*display: block;*/
    /*float: left;*/
    left: -28px;
    top: -30px;
    /* -28px ? */
    position: relative;
    width: 428px;
}

#tmo-img {
    /*display: block;*/
}

#black-to-transparent-header-bar {
    /*border: 1px solid red;*/
    clear: both;
    /*display: block;*/
    height: 7px;
    /* 6px? */
    position: relative;
    top: -27px;
    /*
    background: rgba(67, 68, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 68, 73, 1)), color-stop(96%, rgba(67, 68, 73, 0.04)), color-stop(100%, rgba(237, 237, 237, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: linear-gradient(to right, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434449', endColorstr='#ededed', GradientType=1);
    */
    /*
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(73%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(246, 246, 246, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#f6f6f6', GradientType=1);
    */
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);
}

#header-black-strip {
    height: 7px;
    margin: 0 auto;
    width: 931px;
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);
}

#nav-blue-strip {
    /*display: block;*/
    height: 7px;
    margin: 0 auto;
    margin-top: 7px;
    width: 931px;
    background: rgba(34, 180, 229, 1);
    background: -moz-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34, 180, 229, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#22b4e5', endColorstr='#ffffff', GradientType=1);
}

#tmo-nav-bar {
    color: white;
    /*display: block;*/
    /*font-family: Arial;*/
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    margin: 0 auto;
    /*margin-top: 14px;*/
    text-align: center;
    width: 931px;
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);
}

#nav-bar-menu-list {
    /*display:block;*/
    /*height: 74px;*/
    /*text-align: center;*/
    /*background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);*/
}

#tmo-ts-ip-clipboard {
    background-attachment: local;
    /* moze spowodowac blad */
    background-image: url(../images/tmoolympus/const_elements/tmomenu-ts3icon.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    float: right;
    height: 25px;
    margin-top: 17px;
    margin-right: 17px;
    width: 25px;
}

#tmo-nav-bar ul {
    line-height: 60px;
}

#tmo-nav-bar ul li {
    display: inline;
    padding-right: 40px;
}

#tmo-nav-bar li:last-child {
    padding-right: 0px;
}

#tmo-nav-bar ul li a:link,
#tmo-nav-bar ul li a:visited,
#tmo-nav-bar ul li a:focus {
    color: white;
    text-decoration: none;
}

#tmo-nav-bar ul li a:hover {
    color: white;
    text-decoration: none;
}

#tmo-nav-bar ul li a:active {
    color: white;
    text-decoration: none;
}


/* ----------------------------- */

#black-to-white-strip {
    height: 7px;
    margin: 0 auto;
    width: 931px;
    /*
    background: rgba(67, 68, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 68, 73, 1)), color-stop(30%, rgba(67, 68, 73, 1)), color-stop(92%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to right, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434449', endColorstr='#ededed', GradientType=1);
    */
    background: rgba(67, 68, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 68, 73, 1)), color-stop(30%, rgba(67, 68, 73, 1)), color-stop(85%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434449', endColorstr='#ffffff', GradientType=1);
}

#blue-orange-pink-strip {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 50px;
    margin: 0 auto;
    width: 931px;
    /*
    background: rgba(51, 176, 221, 0.5);
    background: -moz-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51, 176, 221, 0.5)), color-stop(50%, rgba(238, 118, 53, 0.5)), color-stop(100%, rgba(202, 45, 118, 0.5)));
    background: -webkit-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: -ms-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: linear-gradient(to right, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33b0dd', endColorstr='#ca2d76', GradientType=1);
    */
    /*background: rgba(51, 176, 221, 0.7);
    background: -moz-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51, 176, 221, 0.7)), color-stop(50%, rgba(238, 118, 53, 0.7)), color-stop(100%, rgba(202, 45, 118, 0.7)));
    background: -webkit-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: linear-gradient(to right, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33b0dd', endColorstr='#ca2d76', GradientType=1);
    */
    background: rgba(51, 176, 221, 0.7);
    background: -moz-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 201, 14, 0.7)), color-stop(50%, rgba(238, 118, 53, 0.7)), color-stop(100%, rgba(202, 45, 118, 0.7)));
    background: -webkit-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: linear-gradient(to right, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33b0dd', endColorstr='#ca2d76', GradientType=1);
}

#main-content {
    /*border-top-left-radius: 15px;*/
    /*border-top-right-radius: 15px;*/
    margin: 22px auto 0px auto;
    width: 931px;
}

#main-content:before,
#main-content:after {
    content: '';
    display: block;
    clear: both;
}


/* MAIN CONTENT | SETTINGS */


/*#main-content:after {
    clear: both;
}*/


/* SETTINGS NAV PANEL */


/* - bg-color float left / text-align center aby wysrodkowac */

#main-content nav {
    /*background-color: #f8f7ee;*/
    /*border-top-left-radius: 25px;
    border-top-right-radius: 25px;*/
    /*float: left;*/
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
}

#main-content nav ul {
    font-size: 0px;
    list-style: none;
    /*text-align: center;*/
}


/*
#main-content nav ul:after {
    content: '';
    display: block;
    clear: both;
}
*/

#main-content nav ul li {
    display: inline;
    /* overflow: auto */
}

#main-content nav ul li a {
    background-color: #f8f7ee;
    display: inline-block;
    font-size: 14px;
    height: 50px;
    color: #c3c2b9;
    line-height: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

#main-content nav ul li a:hover {
    color: #29324e;
    background-color: rgba(233, 230, 216, 1);
    /* 233 230 202 0.3 */
    cursor: pointer;
}

#main-content nav ul li a.selected {
    background-color: white;
    color: #29324e;
    -webkit-box-shadow: inset 0px 4px 0px 0px rgba(51, 176, 221, 0.9);
    -moz-box-shadow: inset 0px 4px 0px 0px rgba(51, 176, 221, 0.9);
    box-shadow: inset 0px 4px 0px 0px rgba(51, 176, 221, 0.9);
    cursor: default;
    pointer-events: none;
}


/* SETTINGS NAV PANEL END */

#settings-content-wrap {
    background-color: white;
    font-family: 'Arial';
    font-size: 90%;
    padding: 20px 20px 20px 20px;
}

#settings-content-wrap:before,
#settings-content-wrap:after {
    content: '';
    display: block;
    clear: both;
}


/* PROFILE SETTINGS */

#profile .box {
    padding-bottom: 20px;
}

#profile .box:last-child {
    padding-bottom: 0px;
}

.box:before,
.box:after {
    content: '';
    display: block;
    clear: both;
}

#profile .box .left {
    float: left;
    padding: 0px 20px 0px 0px;
    width: 425px;
    /*border-right: 2px solid skyblue;*/
}

#profile .box .right {
    float: right;
    width: 424px;
    padding: 0px 0px 0px 20px;
    border-left: 2px solid skyblue;
}

#profile .box .right #pic-upload-err-text {
    font-weight: 700;
    color: red;
    padding-bottom: 10px;
}

#profile .box .right #pic-upload-succ-text {
    font-weight: 700;
    color: greenyellow;
    padding-bottom: 10px;
}

#profile .box .left #pic-text {
    padding-bottom: 10px;
}

#profile .box .left #active-pic {
    display: block;
    height: 48px;
    width: 48px;
}

#profile .box .right #pic-upload-text {
    padding-bottom: 10px;
}

#profile .box .right #pic-reset-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

#pic-preview {
    /*display: block;*/
    height: 48px;
    width: 48px;
    padding-bottom: 10px;
}

#pic-select-btn {
    display: block;
    margin-bottom: 10px;
}

#pic-up-btn {
    display: block;
}

#pic-reset-btn {
    display: block;
}


/* PROFILE SETTINGS END */


/* NEWS SETTINGS */

#news .box {
    padding: 50px 0px 50px 115px;
}

#success-news {
    text-align: center;
    color: darkturquoise;
    font-weight: 700;
    padding-bottom: 20px;
}

#error-news {
    color: red;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}

.form-row {
    display: block;
    padding-bottom: 30px;
}


/*
.form-row p {
    display: inline;
    padding-right: 10px;
    
}
*/

.form-row label {
    display: inline-block;
    width: 70px;
    text-align: right;
    padding-right: 5px;
}

.form-row img {
    display: block;
    padding-left: 78px;
    max-width: 691px;
    padding-top: 10px;
}

.label-textarea {
    vertical-align: top;
}

#news .box .form-row input[type="text"] {
    width: 300px;
}

.form-row #textarea-content {
    width: 685px;
    min-height: 300px;
    resize: vertical;
}

.form-row button {
    margin-left: 78px;
}


/* NEWS SETTINGS END */


/* ADD WAR SETTINGS */

#addwar {
    padding: 20px;
}

#addwar .warSuccessMsg {
    background-color: darkturquoise;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
}

#addwar .warErrorMsg {
    background-color: deeppink;
    color: whitesmoke;
    padding: 5px;
    text-align: center;
    margin-bottom: 40px;
}

#addwar .form-row {
    display: block;
    padding-bottom: 40px;
}

#addwar .form-row p.fieldError {
    color: crimson;
    margin-left: 150px;
    margin-bottom: 5px;
}

#left-lineup {
    float: left;
}

#right-lineup {
    float: right;
}

#addwar .form-row:last-child {
    padding-bottom: 0px;
}

#addwar .form-row label {
    width: 140px;
    text-align: right;
}

#addwar .form-row #opponent-name-select {
    margin-right: 10px;
}

#addwar .form-row #opponent-name-typed {
    margin-left: 5px;
}

#addwar .form-row .add-member {
    margin-left: 0px;
    margin-right: 10px;
}

#addwar .form-row .add-siteusersub {
    margin-left: 0px;
    margin-right: 10px;
}

#addwar .form-row .sub-input {
    width: 100px;
    /*margin-right: 5px;*/
}

#addwar .form-row .btn-plus {
    margin-left: 0px;
}

#addwar .form-row .btn-plus-sub {
    margin-left: 0px;
}

#addwar .form-row .btn-minus {
    margin-left: 116px;
    margin-right: 5px;
    min-width: 24px;
}

#addwar .form-row .btn-plus-image {
    margin-left: 0px;
}

#addwar .form-row .playerslot {
    margin-top: 5px;
}

#addwar .form-row .mapslot {
    margin-top: 5px;
}

#addwar .form-row .resultslot {
    margin-top: 5px;
}

#addwar .form-row .imageslot {
    margin-top: 5px;
}

#addwar .form-row .score {
    width: 40px;
    margin: 0px 5px 0px 5px;
}

#addwar .form-row #report-label {
    vertical-align: top;
}

#addwar .form-row #textarea-report {
    min-height: 200px;
    width: 500px;
    resize: vertical;
}

#addwar .form-row button#btn-send {
    display: block;
    width: 66px;
    margin: 0px auto;
}


/* ADD WAR SETTINGS END */


/* ADMIN PANEL SETTINGS */

#apanel {
    padding: 20px;
}

#apanel .add-team {
    margin-bottom: 30px;
}

#apanel .add-team .add-clan-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#apanel .add-team form {
    text-align: center;
}

#apanel .add-team .teamname {
    margin-right: 10px;
}

#apanel .add-team .teamnameshort {
    margin-right: 10px;
    width: 55px;
}

#apanel .add-team .add-team-btn {
    margin-top: 15px;
}

#apanel .add-team .add-team-btn img {
    width: 45px;
    max-height: 60px;
    vertical-align: middle;
}

#apanel .remove-team {
    text-align: center;
}

#apanel .remove-team .remove-clan-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#apanel .remove-team .remove-teamname {
    margin-right: 10px;
}


/* ADMIN pANEL SETTINGS END */


/* ERROR FIELDS STYLING */

#apanel .add-team form .success-add-team,
#apanel .remove-team form .success-remove-team {
    background-color: darkturquoise;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
}

#apanel .add-team form .error-add-team,
#apanel .remove-team form .error-remove-team {
    background-color: deeppink;
    color: whitesmoke;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.fieldError {
    color: crimson;
    margin-bottom: 5px;
}


/* MAIN CONTENT END | FOOTER START */

#footer {
    margin: 30px auto 20px auto;
    text-align: center;
    width: 931px;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: bold;
}

#footer div#copyrights p {
    border-radius: 5px;
    display: inline;
    padding: 3px 5px 3px 5px;
}

#footer-blue-background {
    background-color: rgba(51, 176, 221, 0.9);
}

#footer-orange-background {
    /*background-color: rgba(231, 122, 53, 0.9);*/
    background-color: rgba(255, 201, 14, 0.9);
}

#footer-pink-background {
    background-color: rgba(202, 44, 118, 0.9);
}

#footer-copyrights {
    background-color: beige;
}


/* RANDOM */

.not-active {
    pointer-events: none;
    cursor: default;
}

.display-none {
    display: none;
}