html {
    height: 100%;
    overflow-y: scroll;
    position: relative;
}

body {
    background-attachment: fixed;
    background-image: url('../images/tmoolympus/const_elements/tmobackground1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    /*background-color: black;*/
    display: block;
    margin: 0;
    height: 100%;
    /*
    background: rgba(2, 46, 61, 1);
    background: -moz-linear-gradient(top, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(55%, rgba(2, 46, 61, 1)), color-stop(85%, rgba(171, 185, 190, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(2, 46, 61, 1) 55%, rgba(171, 185, 190, 1) 85%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#022e3d', endColorstr='#ffffff', GradientType=0);
    */
    /*background: rgba(27,43,48,1);*/
    /*background: -moz-linear-gradient(top, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(80%, rgba(27,43,48,1)), color-stop(90%, rgba(141,149,152,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(27,43,48,1) 80%, rgba(141,149,152,1) 90%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2b30', endColorstr='#ffffff', GradientType=0 );*/
    background-size: cover;
    position: relative;
}

#body-tmo-text-image {
    /* przesunac od headera w dol na lewo po powrocie z zajec */
    bottom: 100px;
    left: 30px;
    position: absolute;
    z-index: -1;
}

#body-tmo-text-image img {
    display: block;
}

.is-hidden {
    display: none;
}

#tmo-header {
    /*border: 1px solid red;*/
    display: block;
    height: 83px;
    /* 83 */
    margin: 0 auto;
    /*margin-top: 40px;*/
    padding-top: 40px;
    /*position: relative;*/
    /*top: 40px;*/
    width: 931px;
    /*
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(1%, rgba(255, 255, 255, 1)), color-stop(44%, rgba(255, 255, 255, 0.57)), color-stop(47%, rgba(246, 246, 246, 0.54)), color-stop(100%, rgba(237, 237, 237, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0.57) 44%, rgba(246, 246, 246, 0.54) 47%, rgba(237, 237, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
    */
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 0.53)), color-stop(100%, rgba(237, 237, 237, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 0.53) 47%, rgba(237, 237, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
    background-clip: content-box;
}

#tmo-logo-a-link {
    /*display: block;*/
    /*float: left;*/
    left: -28px;
    top: -30px;
    /* -28px ? */
    position: relative;
    width: 428px;
}

#tmo-img {
    /*display: block;*/
}

#black-to-transparent-header-bar {
    /*border: 1px solid red;*/
    clear: both;
    /*display: block;*/
    height: 7px;
    /* 6px? */
    position: relative;
    top: -27px;
    /*
    background: rgba(67, 68, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 68, 73, 1)), color-stop(96%, rgba(67, 68, 73, 0.04)), color-stop(100%, rgba(237, 237, 237, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    background: linear-gradient(to right, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 0.04) 96%, rgba(237, 237, 237, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434449', endColorstr='#ededed', GradientType=1);
    */
    /*
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(73%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(246, 246, 246, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 73%, rgba(246, 246, 246, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#f6f6f6', GradientType=1);
    */
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);
}

#header-black-strip {
    height: 7px;
    margin: 0 auto;
    width: 931px;
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);
}


/* NAV STYLES */

#nav-blue-strip {
    /*display: block;*/
    height: 7px;
    margin: 0 auto;
    margin-top: 7px;
    width: 931px;
    background: rgba(34, 180, 229, 1);
    background: -moz-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34, 180, 229, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(34, 180, 229, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#22b4e5', endColorstr='#ffffff', GradientType=1);
}

#tmo-nav-bar {
    color: white;
    /*display: block;*/
    /*font-family: Arial;*/
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    margin: 0 auto;
    /*margin-top: 14px;*/
    text-align: center;
    width: 931px;
    background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);
}

#nav-bar-menu-list {
    /*display:block;*/
    /*height: 74px;*/
    /*text-align: center;*/
    /*background: rgba(67, 67, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 67, 73, 1)), color-stop(100%, rgba(67, 67, 73, 0)));
    background: -webkit-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -o-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: -ms-linear-gradient(left, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    background: linear-gradient(to right, rgba(67, 67, 73, 1) 0%, rgba(67, 67, 73, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434349', endColorstr='#434349', GradientType=1);*/
}

#tmo-ts-ip-clipboard {
    background-attachment: local;
    /* moze spowodowac blad */
    background-image: url(../images/tmoolympus/const_elements/tmomenu-ts3icon.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    float: right;
    height: 25px;
    margin-top: 17px;
    margin-right: 17px;
    width: 25px;
}

#tmo-nav-bar ul {
    line-height: 60px;
}

#tmo-nav-bar ul li {
    display: inline;
    padding-right: 40px;
}

#tmo-nav-bar li:last-child {
    padding-right: 0px;
}

#tmo-nav-bar ul li a:link,
#tmo-nav-bar ul li a:visited,
#tmo-nav-bar ul li a:focus {
    color: white;
    text-decoration: none;
}

#tmo-nav-bar ul li a:hover {
    color: white;
    text-decoration: none;
}

#tmo-nav-bar ul li a:active {
    color: white;
    text-decoration: none;
}


/* END NAV STYLES */

#black-to-white-strip {
    height: 7px;
    margin: 0 auto;
    width: 931px;
    /*
    background: rgba(67, 68, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 68, 73, 1)), color-stop(30%, rgba(67, 68, 73, 1)), color-stop(92%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to right, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 92%, rgba(237, 237, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434449', endColorstr='#ededed', GradientType=1);
    */
    background: rgba(67, 68, 73, 1);
    background: -moz-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67, 68, 73, 1)), color-stop(30%, rgba(67, 68, 73, 1)), color-stop(85%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(67, 68, 73, 1) 0%, rgba(67, 68, 73, 1) 30%, rgba(246, 246, 246, 1) 85%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#434449', endColorstr='#ffffff', GradientType=1);
}

#blue-orange-pink-strip {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 50px;
    margin: 0 auto;
    width: 931px;
    /*
    background: rgba(51, 176, 221, 0.5);
    background: -moz-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51, 176, 221, 0.5)), color-stop(50%, rgba(238, 118, 53, 0.5)), color-stop(100%, rgba(202, 45, 118, 0.5)));
    background: -webkit-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: -o-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: -ms-linear-gradient(left, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    background: linear-gradient(to right, rgba(51, 176, 221, 0.5) 0%, rgba(238, 118, 53, 0.5) 50%, rgba(202, 45, 118, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33b0dd', endColorstr='#ca2d76', GradientType=1);
    */
    /*background: rgba(51, 176, 221, 0.7);
    background: -moz-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51, 176, 221, 0.7)), color-stop(50%, rgba(238, 118, 53, 0.7)), color-stop(100%, rgba(202, 45, 118, 0.7)));
    background: -webkit-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: linear-gradient(to right, rgba(51, 176, 221, 0.7) 0%, rgba(238, 118, 53, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33b0dd', endColorstr='#ca2d76', GradientType=1);
    */
    background: rgba(51, 176, 221, 0.7);
    background: -moz-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 201, 14, 0.7)), color-stop(50%, rgba(238, 118, 53, 0.7)), color-stop(100%, rgba(202, 45, 118, 0.7)));
    background: -webkit-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    background: linear-gradient(to right, rgba(51, 176, 221, 0.7) 0%, rgba(255, 201, 14, 0.7) 50%, rgba(202, 45, 118, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33b0dd', endColorstr='#ca2d76', GradientType=1);
}

/* MAIN CONTENT */

#main-content {
    background-color: rgba(252, 252, 252, 0.873501);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    margin: 30px auto 0 auto;
    width: 871px;
    padding: 30px;
    font-family: Lato;
    font-size: 16px;
}

#match-date {
    text-align: center;
    color: darkslategray;
}

#match-date p {
    font-size: 18px;
}

#time {
    margin-left: 10px;
}

#clans-logos-and-result {
    display: block;
    font-family: Lato;
    font-size: 34px;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    color: darkslategrey;
    padding-top: 40px;
    padding-bottom: 30px;
    line-height: 50px;
}

/*#clans-logos-and-result:before,
#clans-logos-and-result:after {
    content: '';
    clear:both;
    display: block;
}*/

.home-wrap {
    display: inline-block;
    margin-right: -6px;
    width: 425px;
    text-align: right;
}

.away-wrap {
    display: inline-block;
    margin-right: -6px;
    width: 425px;
    text-align: left;
}

.separator {
    display: inline-block;
    margin-right: -6px;
    text-align: center;
    width: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#clans-logos-and-result img {
    height: 50px;
    max-width: 60px;
    vertical-align: top;
    font-size: 0px;
}

.home-img {
    margin-left: 10px;
    margin-right: 20px;
}

.away-img {
    margin-left: 20px;
    margin-right: 10px;
}

#results-container {
    display: block;
    padding: 0 30px 40px 30px;
    text-align: center;
}

#results-container:before,
#results-container:after {
    content: '';
    clear: both;
    display: block;
}

#maps-played {
    display: inline-block;
    margin-right: 10%;
    text-align: left;
}

#maps-played ul {
    margin-top: 5px;
}

#maps-played ul li {
    padding-left: 20px;
    line-height: 20px;
}

#partial-scores {
    display: inline-block;
    margin-left: 10%;
    text-align: right;
}

#partial-scores ul {
    margin-top: 5px;
}

#partial-scores ul li {
    padding-right: 20px;
    line-height: 20px;
}

#line-ups {
    display: block;
}

#line-ups .lu-header {
    font-size: 20px;
    text-align: center;
    margin-bottom: 16px;
}

#home-lineup {
    border-right: 1px solid white;
    display: inline-block;
    margin-top: 5px;
    margin-right: -4px;
    text-align: center;
    width: 50%;
    vertical-align: top;
}

#away-lineup {
    border-left: 1px solid white;
    display: inline-block;
    margin-top: 5px;
    margin-right: -4px;
    text-align: center;
    width: 50%;
    vertical-align: top;
}

.player {
    display: inline-block;
    padding: 0 20px 10px 0px;
    margin-right: -4px;
}

.img-circle {
    border-radius: 50%;
}

.player-name {
    margin-top: 5px;
}

.screens-container {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.screenshots {
    text-align: center;
    /*margin-top: 16px;*/
    padding: 0 100px 0 100px;
}

.screenshots img {
    border-radius: 5px;
    font-size: 0;
    cursor: pointer;
    transition: 0.3s;
    width: 140px;
    height: 100px;
    margin: 16px 5px 0 5px;
}

.screenshots img:hover {
    opacity: 0.7;
}

#war-report {
    border: 1px solid;
    border-color: bisque;
    background-color: rgba(255, 255, 255, 0.7);
    width: 400px;
    margin: 60px auto 30px auto;
    padding: 20px;
}

.comment-wrapper {
    border-top: 1px solid grey;
    margin: 60px auto 0 auto;
    width: 700px;
}

.comment-wrapper #comments {
    display: block;
    padding: 0px 10px 20px 0px;
}

.comment-wrapper .comment {
    display: block;
    font-size: 0px;
    margin: 0px 0px 0px 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.comment-wrapper .comment .userpic {
    /*display: inline-block;*/
    float: left;
}

.comment-wrapper .comment .userpic img {
    display: block;
    border-radius: 50%;
}

.comment-wrapper .comment .postcontent {
    /*display: inline-block;*/
    font-family: 'Arial';
    font-size: 14px;
    overflow: hidden;
    padding-left: 15px;
    vertical-align: top;
    /*min-height: 48px;*/
}

.comment-wrapper .comment .postcontent .header {
    font-size: 0px;
    /*padding-left: 15px;*/
    /*padding-bottom: 4px;*/
}

input[type='submit'].reply-button {
    margin-left: 10px;
    vertical-align: middle;
    padding: 0px 4px 0px 4px;
    font-size: 10px;
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    line-height: 10px;
    cursor: pointer;
}

input[type='submit'].edit-button {
    margin-left: 10px;
    vertical-align: middle;
    padding: 0px 4px 0px 4px;
    font-size: 10px;
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    line-height: 10px;
    cursor: pointer;
}

.comment-wrapper .comment .postcontent .header p {
    font-size: 16px;
    display: inline;
    vertical-align: middle;
}

.comment-wrapper .comment .postcontent .message {
    line-height: 16px;
    vertical-align: middle;
}

.comment-wrapper .comment-in {
    border-left: 1px solid skyblue;
    background-image: url(../images/tmoolympus/const_elements/tmocomments-L.png);
    background-repeat: no-repeat;
    background-position: -1px 0px;
    display: block;
    font-size: 0px;
    margin: 0px 0px 0px 20px;
    padding-top: 20px;
    padding-left: 10px;
}

.comment-wrapper .comment-in:last-child {
    border-left: 0px;
    background-image: url(../images/tmoolympus/const_elements/tmocomments-L.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.comment-wrapper .comment-in .userpic {
    /*display: inline-block;*/
    float: left;
}

.comment-wrapper .comment-in .userpic img {
    display: block;
    border-radius: 50%;
}

.comment-wrapper .comment-in .postcontent {
    /*display: inline-block;*/
    font-family: 'Arial';
    font-size: 14px;
    overflow: hidden;
    padding-left: 15px;
    vertical-align: top;
    /*min-height: 48px;*/
}

.comment-wrapper .comment-in .postcontent .header {
    /*padding-left: 15px;*/
    /*padding-bottom: 4px;*/
}

.comment-wrapper .comment-in .postcontent .header p {
    vertical-align: middle;
}

.comment-wrapper .comment-in .postcontent .message {
    line-height: 16px;
    vertical-align: middle;
}

#main-reply {
    display: block;
    margin: 20px auto 0px auto;
    padding-bottom: 40px;
    width: 80%;
    font-family: 'Arial';
    font-size: 18px;
}

#main-reply p {
    padding-bottom: 5px;
}

#main-reply form {
    font-size: 0px;
}

#main-reply form textarea {
    width: 100%;
    height: 150px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#main-reply form textarea:focus {
    outline: 1px solid skyblue;
    background-color: aliceblue;
}

#comment-reply {
    margin-left: 20px;
    padding-right: 10px;
    padding-left: 43px;
}

#comment-reply p {
    padding-bottom: 5px;
}

#comment-reply form {
    font-size: 0px;
}

#comment-reply form textarea {
    width: 100%;
    height: 150px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#comment-reply form textarea:focus {
    outline: 1px solid skyblue;
    background-color: aliceblue;
}

/*
#comment-reply {
    padding-right: 10px;
}

#comment-reply p {
    padding-bottom: 5px;
}

#comment-reply form {
    font-size: 0px;
}

#comment-reply form textarea {
    width: 100%;
    height: 150px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#comment-reply form textarea:focus {
    outline: 1px solid skyblue;
    background-color: aliceblue;
}
*/
.answer-button {
    margin-top: 5px;
    cursor: pointer;
}

/* ********************

    MODAL IMG SS

* ********************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* END OF MAIN CONTENT */


/* FOOTER */

#footer {
    margin: 30px auto 20px auto;
    text-align: center;
    width: 931px;
}

#footer p {
    /*background-color: skyblue;*/
    border-radius: 5px;
    display: inline;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px 3px 5px;
}

#footer-blue-background {
    background-color: rgba(51, 176, 221, 0.9);
}

#footer-orange-background {
    /*background-color: rgba(231, 122, 53, 0.9);*/
    background-color: rgba(255, 201, 14, 0.9);
}

#footer-pink-background {
    background-color: rgba(202, 44, 118, 0.9);
}


/* END OF FOOTER */

/* RANDOM */

.not-active {
   pointer-events: none;
   cursor: default;
}

.color-orange {
    color: rgba(255, 201, 14, 1);
    /*color: rgba(238, 118, 53, 1);*/
}

.color-pink {
    color: rgba(202, 45, 118, 1);
    /*color: rgba(202, 45, 118, 1);*/
}

.color-blue {
    /*color: deepskyblue;*/
    color: rgba(51, 176, 221, 1)
}